# ----- Node credentials -----

host: "127.0.0.1:10009"
macaroon_path: "/home/bitcoin/.lnd/data/chain/bitcoin/mainnet/admin.macaroon"
tls-path: "/home/bitcoin/.lnd/tls.cert"
debug: true

# ----- Channel openings -----

# Mode can either be "blacklist" or "whitelist"
channel-mode: "blacklist" 

# This error message will be sent to the other party upon a reject
channel-reject-message: "Contact me at user@email.com"

# List of nodes to whitelist or blacklist
channel-whitelist:
  - "03de70865239e99460041e127647b37101b9eb335b3c22de95c944671f0dabc2d0"
  - "0307299a290529c5ccb3a5e3bd2eb504daf64cc65c6d65b582c01cbd7e5ede14b6"
channel-blacklist:
  - "02853f9c1d15d479b433039885373b681683b84bb73e86dff861bee6697c17c1de"

# ----- HTLC forwarding -----

# Mode can either be "blacklist" or "whitelist"
forward-mode: "whitelist"

# List of channel IDs to whitelist or blacklist
forward-whitelist:
  - "229797930270721"
forward-blacklist:
  - "131941395398657"  
  - "195713069809665"