# Trigger warning: This is a yaml file. If you don't use the exact amount of spaces
# precisely where they belong, ghost will haunt you until the end of your life.

# ----- Node credentials -----

host: "127.0.0.1:10009"
macaroon_path: "/home/bitcoin/.lnd/data/chain/bitcoin/mainnet/admin.macaroon"
tls-path: "/home/bitcoin/.lnd/tls.cert"
debug: true
# to get only json output
# log-json: true

# ----- Channel openings -----

# Mode can be "denylist", "allowlist", or "passthrough". Only one mode can be active.
# If "denylist" is active, "allowlist" is ignored, and vice versa.
# "passthrough" passes all requests through without checks, ignoring both lists.
channel-mode: "denylist"

# This error message will be sent to the other party upon a reject
channel-reject-message: "Contact me at user@email.com"

# List of public keys
channel-allowlist:
  - "03de70865239e99460041e127647b37101b9eb335b3c22de95c944671f0dabc2d0"
  - "0307299a290529c5ccb3a5e3bd2eb504daf64cc65c6d65b582c01cbd7e5ede14b6"
  - "*" # all public keys
channel-denylist:
  - "02853f9c1d15d479b433039885373b681683b84bb73e86dff861bee6697c17c1de"

# ----- HTLC forwarding -----

# Mode can be "denylist", "allowlist", or "passthrough". Only one mode can be active.
# If "denylist" is active, "allowlist" is ignored, and vice versa.
# "passthrough" passes all requests through without checks, ignoring both lists.
forward-mode: "denylist"

# List of channel IDs to allowlist or denylist
forward-allowlist:
  - "7143424x65537x0"                   # all forwards from this channel
  - "7143424x65537x0->*"                # same as above
  - "6629856x65537x0->7143424x65537x0"  # channel pair
  - "*->25328x256x0"                    # all forwards to this channel
forward-denylist:
  - "9961472x65537x1"

# ---- Javascript rules ----
rules:
  apply: true                           # whether to respect the rule decision
  oneml:                                # 1ML.com API
    active: true                        
    timeout: 5                          # API timeout in seconds
  amboss:                               # Amboss.space API
    active: true
    timeout: 5                          # API timeout in seconds
